<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>$title$ - exio4.xyz</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/sakura-dark-solarized.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    $partial("templates/nav.html")$

    <div class="container">
        <h3>$title$</h3>
        $body$
        $partial("templates/footer.html")$
    </div>
  </body>
</html>
